<div style="text-align:center">
	<h1 style="color:red">MOVIE</h1>

	<h3>Welcome, admin!</h3>

	<form action="/sort_by_date" method="get" style="float:center">
		<input type="submit" value="按时间排序" />
	</form>

	<form action="/sort_by_rate" method="get">
		<input type="submit" value="按评分排序" />
	</form>

	<div class='films'>
		<table style="margin: 0 auto">
			<tr>
				<th>Name</th>
				<th>category</th>
				<th>date</th>
				<th>rate</th>			
			</tr>

			<% @films.each do |film| %>
				<tr>
					<td><%= film.name %></td>
					<td><%= film.category %></td>
					<td><%= film.date %></td>
					<td><%= film.rate %></td>
					<td><a rel="nofollow" data-confirm="ARE YOU SURE?" data-method="delete" href="destroy?id=<%= film.id %>">Delete</a></td>
			 </tr>		
			<%end%>

		</table>
		<%= will_paginate @films %>
	</div>

	<a href='/logout'>Log Out</a>
</div>